body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #70757a;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}
li {
  color: #70757a;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.float-left {
  display: inline;
}

.units {
  position: relative;
  top: -15px;
}

.search-form {
  margin-bottom: 20px;
}

.cel {
  text-decoration: none;
  color: black;
}

.far {
  text-decoration: none;
  color: black;
}

.cel:hover {
  color: blue;
}

.far:hover {
  color: blue;
}
